:root {
  --spacer: 1rem;
  --transition-duration: 0.3s;
  --transition-easing: cubic-bezier(0.42, 0.42, 0.84, 1);
  --spacer-half: 0.5rem;
  --spacer-double: 2rem;
  --max-width: 1024px;
  --color-dark: #181818;
  --color-light: #fff;
  --color-neutral: #c5c5c5;
  --color-active: #707070;
  --color-accent: #2196f3;
  --color-accent-active: #1766a6;
}

@media (prefers-reduced-motion) {
  :root {
    --transition-duration: 0s;
  }
}

*,
*::before,
*::after {
  background: transparent;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  scroll-behavior: smooth;
  scroll-padding: var(--spacer-double);
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  padding: var(--spacer-double);
  text-rendering: optimizelegibility;
}

body[data-theme="dark"] {
  --color-dark: #f2f2f2;
  --color-light: #2e2e2e;
}

body[data-motion="normal"] {
  --transition-duration: 0.3s;
}

body[data-motion="normal"] .scroll-snap-slider {
  scroll-behavior: smooth;
}

h1,
h2,
p {
  text-align: center;
}

a {
  color: var(--color-accent);
  transition: color var(--transition-duration) var(--transition-easing);
}

a:hover {
  color: var(--color-accent-active);
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  gap: 4rem;
  justify-content: center;
  margin: auto;
  min-height: 100%;
  padding: 4rem 0;
  width: 100%;
}

.container > * {
  flex-shrink: 0;
}

.row {
  display: flex;
  flex-flow: row wrap;
  gap: var(--spacer);
  margin: auto;
  max-width: var(--max-width);
}

details p {
  text-align: start;
}

@media (min-width: var(--max-width)) {
  .row .column {
    flex-grow: 1;
    flex-shrink: 1;
    width: auto;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  width: 100%;
}

.column.-intro {
  max-width: calc(0.5 * var(--max-width));
}

.row .column {
  width: 100%;
}

.github-buttons {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.github-buttons span {
  margin: 0 var(--spacer-half);
}

.feature-toggles {
  position: fixed;
  right: var(--spacer-double);
  top: var(--spacer-double);
  z-index: 1030;
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}
