:root {
  --toggle-height: 2rem;
}

.feature-toggle {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-between;
  position: relative;
}

.feature-toggle__input {
  height: 0;
  opacity: 0;
  width: 0;
}

.feature-toggle__slider {
  background-color: #cccccc;
  border-radius: var(--toggle-height);
  cursor: pointer;
  height: calc(var(--toggle-height));
  position: relative;
  transition: 0.4s;
  width: calc(2 * var(--toggle-height));
}

.feature-toggle__slider::before {
  background-color: white;
  border-radius: 50%;
  bottom: calc(0.1 * var(--toggle-height));
  content: "";
  height: calc(0.8 * var(--toggle-height));
  left: calc(0.1 * var(--toggle-height));
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: calc(0.8 * var(--toggle-height));
}

.feature-toggle__input:checked + .feature-toggle__slider {
  background-color: #2196f3;
}

.feature-toggle__input:disabled + .feature-toggle__slider {
  background-color: #e0e0e0;
  cursor: not-allowed;
  opacity: 0.7;
}

.feature-toggle__input:focus + .feature-toggle__slider {
  box-shadow: 0 0 1px #2196f3;
}

.feature-toggle__input:checked + .feature-toggle__slider::before {
  transform: translateX(calc(1.8 * var(--toggle-height) - 100%));
}
