:root {
  --inner-height: calc(var(--toggle-height) - 4 * var(--border-width));
  --toggle-height: calc(2rem - var(--border-width));
  --border-width: 0.18rem;
  --togle-width: calc(2 * var(--toggle-height));
}

.feature-toggle {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: flex-end;
  position: relative;
}

.feature-toggle__input {
  height: 0;
  opacity: 0;
  width: 0;
}

.feature-toggle__slider {
  background-color: #ccc;
  border: 3px solid #ccc;
  border-radius: var(--toggle-height);
  box-sizing: border-box;
  cursor: pointer;
  height: calc(var(--toggle-height));
  position: relative;
  transition-duration: 0.4s;
  transition-property: border-color, background-color;
  width: calc(2 * var(--toggle-height));
}

.feature-toggle__slider::before {
  background-color: white;
  border-radius: 50%;
  bottom: var(--border-width);
  content: '';
  height: var(--inner-height);
  left: var(--border-width);
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: var(--inner-height);
}

.feature-toggle__input:checked + .feature-toggle__slider {
  background-color: #2196f3;
  border-color: #2196f3;
}

.feature-toggle__input:disabled + .feature-toggle__slider {
  background-color: #e0e0e0;
  cursor: not-allowed;
  opacity: 0.7;
}

.feature-toggle__input:focus + .feature-toggle__slider {
  border-color: #2196f3;
}

.feature-toggle__input:checked:focus + .feature-toggle__slider {
  border-color: #1766a6;
}

.feature-toggle__input:checked + .feature-toggle__slider::before {
  transform: translateX(calc(var(--togle-width) - 4 * var(--border-width) - 100%));
}
