@import './page.css';
@import './feature_toggle.css';
@import '../src/scroll-snap-slider.css';

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.scroll-snap-slider {
  box-sizing: border-box;
  height: 300px;
  margin: 1rem auto;
}

.scroll-snap-slider.-simple,
.scroll-snap-slider.-pure {
  width: 400px;
}

.scroll-snap-slider.-multi,
.scroll-snap-slider.-responsive {
  max-width: 1200px;
  width: 100%;
}

.scroll-snap-slider.-draggable {
  cursor: grab;
}

.scroll-snap-slider.-draggable.-dragging {
  cursor: grabbing;
}

.scroll-snap-slider .scroll-snap-slide {
  scroll-snap-align: start;
  width: 400px;
}

.scroll-snap-slider .scroll-snap-slide article {
  align-items: center;
  background: #181818;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.scroll-snap-slider img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  left: 0;
  margin: auto;
  padding: 2rem;
  position: absolute;
  text-align: end;
  transform: translateX(-100%);
}

.indicators {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.4s ease;
}

.indicators.-hidden {
  opacity: 0;
}

.indicators input[type='radio'] {
  display: none;
}

.indicator {
  background-color: #c5c5c5;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 12px;
  margin: 0 3px;
  transition: background-color 0.2s ease;
  width: 12px;
}

.indicators .indicator.-active {
  background-color: #707070;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.arrow {
  background: transparent;
  border: 0;
  cursor: pointer;
  height: 24px;
  margin: 0 0.5rem;
}

.arrow.-disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.arrow svg {
  height: 100%;
  width: auto;
}

.arrow.-prev svg {
  transform: rotate(180deg);
}
