body {
  margin: 1rem;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  gap: 4rem;
  justify-content: center;
  margin: auto;
  min-height: 100%;
  width: 100%;
  padding: 4rem 0;
}

.container > * {
  flex-shrink: 0;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.column.-intro {
  max-width: 512px;
}

.github-buttons {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.github-buttons span {
  margin: 0 0.5rem;
}

h1,
h2,
p {
  text-align: center;
}
