@import "./page.css";
@import "./feature_toggle.css";
@import "../dist/scroll-snap-slider.css";

.scroll-snap-slider {
  --slider-h: 300px;
  --slider-w: 400px;

  box-sizing: border-box;
  height: var(--slider-h);
  margin: 1rem auto;
  width: var(--slider-w);
}

.scroll-snap-slider.-simple {
  --slider-h: 600px;
  --slider-w: 900px;
}

.scroll-snap-slider.-multi,
.scroll-snap-slider.-responsive {
  max-width: calc(3 * var(--slider-w));
  width: 100%;
}

.scroll-snap-slider.-draggable {
  cursor: grab;
}

.scroll-snap-slider.-draggable.-dragging {
  cursor: grabbing;
}

.scroll-snap-slider .scroll-snap-slide {
  scroll-snap-align: start;
  width: var(--slider-w);
}

.scroll-snap-slider .scroll-snap-slide article {
  align-items: center;
  background: var(--color-dark);
  color: var(--color-light);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.scroll-snap-slider img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.features {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  left: 0;
  margin: auto;
  padding: 2rem;
  position: absolute;
  text-align: end;
  transform: translateX(-100%);
}

.indicators {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--spacer-half);
  justify-content: center;
  opacity: 1;
  transition: opacity var(--transition-duration) var(--transition-easing);
}

.indicators.-hidden {
  opacity: 0;
}

.indicators input[type="radio"] {
  display: none;
}

.indicator {
  background-color: var(--color-neutral);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: var(--spacer);
  transition: background-color var(--transition-duration) var(--transition-easing);
  width: var(--spacer);
}

.indicator:not(.-active):hover {
  background-color: var(--color-active);
}

.indicators .indicator.-active {
  background-color: var(--color-accent);
}

.visually-hidden:not(:focus, :active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.arrow {
  background: transparent;
  border: 0;
  cursor: pointer;
  height: var(--spacer-double);
  margin: 0 var(--spacer-half);
}

.arrow.-disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.arrow svg {
  height: 100%;
  width: auto;
}

.arrow.-prev svg {
  transform: rotate(180deg);
}
